section {
    padding: 70px;
    border-top: 3px solid rgba($color: #6190e8, $alpha: 0.2);
    text-align: center;
    h3 {
        font-family: "Pacifico", cursive;
        color: #74b0f7;
        font-size: 100px;
    }
    h4 {
        font-family: "EB Garamond", serif;
        padding-top: 50px;
        margin-bottom: 60px;
        line-height: 30px;
    }
    a {
        font-family: "EB Garamond", serif;
        margin-top: 70px;
        cursor: pointer;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: white;
        color: #74b0f7;
        font-weight: 500;
        font-size: 20px;
        border: 1px solid #74b0f7;
        border-radius: 50px;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    a:hover {
        text-decoration: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}
section.fail {
    h3 {
        color: #ff0100;
    }
}
