<section class="cart">
    <div class="list-product">
        <h2>Giỏ hàng</h2>

        <div class="product-cart-component">
            <div class="image-product-cart">
                <img src="../../../assets/bosofa.png" alt="">

            </div>
            <div class="product-name">
                <h3>Ghế Sofa</h3>
                <p></p>
            </div>

            <div class="amount">
                <button type="button" class="btn btn-down">-</button>
                <input value="1" type="text">
                <button type="button" class="btn btn-up">+</button>
            </div>
            <div class="price">
                <h3>$90</h3>
            </div>
            <div class="delete">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="product-cart-component">
            <div class="image-product-cart">
                <img src="../../../assets/bosofa.png" alt="">

            </div>
            <div class="product-name">
                <h3>Ghế Sofa</h3>
                <p></p>
            </div>

            <div class="amount">
                <button type="button" class="btn btn-down">-</button>
                <input value="1" type="text">
                <button type="button" class="btn btn-up">+</button>
            </div>
            <div class="price">
                <h3>$90</h3>
            </div>
            <div class="delete">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="product-cart-component">
            <div class="image-product-cart">
                <img src="../../../assets/bosofa.png" alt="">

            </div>
            <div class="product-name">
                <h3>Ghế Sofa</h3>
                <p></p>
            </div>

            <div class="amount">
                <button type="button" class="btn btn-down">-</button>
                <input value="1" type="text">
                <button type="button" class="btn btn-up">+</button>
            </div>
            <div class="price">
                <h3>$90</h3>
            </div>
            <div class="delete">
                <i class="fa fa-times"></i>
            </div>
        </div>
    </div>
    <div class="sub-total">
        <a href="/home">Tiếp tục mua hàng</a>
        <h3>Tổng tiền : $90</h3>
        <button class="checkout">Thanh toán</button>
    </div>

</section>