<section ng class="cart">
    <div *ngIf="!cartNull; else ElseContentName3" class="list-product">
        <h2>Giỏ hàng</h2>
        <div class="desktop">
            <div class="product-cart-component " *ngFor="let product of cart">
                <div class="image-product-cart">
                    <img [src]="product.productImage" [alt]="product.productName">

                </div>
                <div class="product-name">

                    <h4>{{product.productName}}</h4>
                    <p></p>
                </div>

                <div class="amount">
                    <button (click)="reduceQuantity(product.productId)" type="button" class="btn btn-down">-</button>
                    <input value="{{product.quantity}}" type="text">
                    <button (click)="raiseQuantity(product.productId)" type="button" class="btn btn-up">+</button>
                </div>
                <div class="price">
                    <h4>{{product.productPrice}} ₫</h4>
                </div>
                <div class="delete">
                    <img (click)="deleteProduct(product.productId)" src="../../../assets/icons/times.png" alt="delete">

                </div>
            </div>

        </div>



        <div class="product-cart-component-mobile-cart" *ngFor="let product of cart">
            <div class="row">
                <div class="image-product-cart">
                    <img [src]="product.productImage" [alt]="product.productName">

                </div>
                <div class="row">
                    <div class="product-name">

                        <h4>{{product.productName}}</h4>
                        <p></p>
                    </div>
                    <div class="price">
                        <h4>{{product.productPrice}} ₫</h4>
                    </div>
                </div>

            </div>

            <div class="quatityFunc row">

                <div class="amount">
                    <button (click)="reduceQuantity(product.productId)" type="button" class="btn btn-down">-</button>
                    <input value="{{product.quantity}}" type="text">
                    <button (click)="raiseQuantity(product.productId)" type="button" class="btn btn-up">+</button>
                </div>

                <div class="delete">
                    <img (click)="deleteProduct(product.productId)" src="../../../assets/icons/times.png" alt="delete">
                </div>
            </div>

        </div>


        <div class="discountCode">
            <h4>Nhập mã giảm giá</h4>
            <form #formDiscountCode="ngForm">
                <input name="discountCode" #discountCode="ngModel" ngModel type="text">
                <button [disabled]="enterDiscountcode" (click)="enterDiscountCodeFunc()">Xác
                    nhận</button>
                <div class="enterCode">


                </div>


            </form>

            <div *ngIf="enterDiscountcode" class="usedCode">
                <span class="code">{{discountCodeHTML}}</span><span class="icon">
                    <img (click)="deleteDiscountCode()" src="../../../assets/icons/times.png" alt="delete">
                </span>
            </div>

        </div>
        <h3>Tổng tiền : {{totalPriceOfAllProductFormat}} ₫</h3>
    </div>

    <ng-template #ElseContentName3>
        <div class="cartNull">
            <img src="../../../assets/Picture3.png" alt="cartnull">
            <h2>Giỏ hàng đang trống</h2>
        </div>
    </ng-template>
    <div class="sub-total">
        <a routerLink="/danh-muc">Tiếp tục mua hàng</a>

        <button *ngIf="!cartNull;" (click)=" checkOut()" class="checkout">Tiếp tục</button>
    </div>

</section>