// * {
//     margin: 0px;
//     padding: 0px;
// }
* {
  p,
  span {
    font-family: "EB Garamond", serif;
  }
  h2,
  h3,
  h4,
  h5,
  p,
  span,
  td,
  a,
  button.checkout {
    font-family: "EB Garamond", serif;
  }
  section.products {
    padding: 25px 70px 25px 70px;
  }
}
.kagu-carousel {
  .carousel-item {
    height: 450px;
    width: 100%;
    @media all and (max-width: 576px) {
      height: 350px;
    }
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      width: 100%;
      padding-top: 5px;
      height: 100%;
    }
  }
}
.kagu-product-carousel {
  padding: 30px 30px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  h2 {
    font-family: "EB Garamond", serif;
  }

  .row {
    width: 100%;
  }
  .card {
    // margin-left: 10px;
    padding: 20px 20px;
    height: 300px;
    box-sizing: border-box;
  }
  .hot-product {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
    .row {
      margin: 0px;
      align-items: center;
      justify-content: center;
      .col-custom {
        width: 100%;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 3px;
        padding: 0px;
        text-align: center;
        cursor: pointer;
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      span.oldPrice {
        color: gray;
        text-decoration: line-through;
      }
      span.percentReduce {
        color: gray;
      }
      .col-custom:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
      img {
        max-width: 100%;
        max-height: 100%;
        width: 80%;
        width: 250px;
        height: 300px;
        padding-top: 15px;
      }
      .product-item-info {
        text-align: left;
        width: 100%;
        padding-left: 15%;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-right: 40px;
        // @media all and (max-width: 576px) {
        //   padding-left: 20px;
        //   padding-top: 10px;
        //   padding-bottom: 30px;
        //   padding-right: 20px;
        // }
        display: block;
        h5 {
          text-align: left;
          font-size: 20px;
        }
        p {
          font-size: 20px;
          i {
            color: #ffc120;
          }
        }
      }
    }
  }
}

.carousel-item-custom {
  display: flex;
  justify-content: space-around;
}
// .kagu-carousel .img-3 {
//     background-image: url(../../../../assets/images/IMG_20190530_071328.jpg);
//     background-position: center;
//     background-size: cover;
// }

.custom-carousel {
  ol {
    margin-bottom: -20px;
  }
}
a.carousel-control-prev span {
  margin-left: -100px;
  height: 100px;
  @media all and (max-width: 992px) {
    margin-left: -50px;
  }
  @media all and (max-width: 768px) {
    margin-left: -40px;
  }
  @media all and (max-width: 576px) {
    margin-left: -20px;
  }
}
a.carousel-control-next span {
  margin-right: -100px;
  height: 100px;
  @media all and (max-width: 992px) {
    margin-right: -50px;
  }
  @media all and (max-width: 768px) {
    margin-right: -40px;
  }
  @media all and (max-width: 576px) {
    margin-right: -20px;
  }
}

.top-product {
  border-top: 3px solid rgba($color: #6190e8, $alpha: 0.2);
  padding: 50px 50px;
  padding-bottom: 200px;
  @media all and (max-width: 992px) {
    display: none;
  }
  @media all and (max-width: 768px) {
    display: none;
  }
  @media all and (max-width: 576px) {
    display: none;
  }
  // @media all and (max-width: 992px) {
  //   padding-bottom: 150px;
  // }
  // @media all and (max-width: 768px) {
  //   padding-bottom: 100px;
  // }
  // @media all and (max-width: 576px) {
  //   padding-bottom: 40px;
  // }
  h3 {
    width: 100%;
    text-align: center;
  }
  padding-top: 10px;
  img {
    max-width: 100%;
    max-height: 100%;
    width: 250px;
    height: 300px;
    padding-top: 15px;
  }
  .row {
    h2 {
      @media all and (max-width: 992px) {
        font-size: 24px;
      }
      @media all and (max-width: 768px) {
        font-size: 20px;
      }
      @media all and (max-width: 576px) {
        font-size: 18px;
      }
    }
    h3 {
      // text-align: center !important;
      // width: 100%;
      padding-bottom: 20px;
      padding-top: 10px;
      @media all and (max-width: 992px) {
        font-size: 20px;
      }
      @media all and (max-width: 768px) {
        font-size: 18px;
      }
      @media all and (max-width: 576px) {
        font-size: 15px;
      }
    }
  }
}
.imagegrid {
  position: relative;
  width: 100%;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 350px;
    width: 350px;
    @media all and (max-width: 992px) {
      height: 280px;
      width: 280px;
    }
    @media all and (max-width: 768px) {
      height: 250px;
      width: 250px;
    }
    @media all and (max-width: 576px) {
      height: 200px;
      width: 200px;
    }
  }
  .imagetop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .imagebot {
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 0;
    height: 350px;
    width: 350px;
    background-color: #add0fa;

    @media all and (max-width: 992px) {
      display: none;
    }
    @media all and (max-width: 768px) {
      display: none;
    }
    @media all and (max-width: 576px) {
      display: none;
    }
  }
}
.content {
  font-family: "EB Garamond", serif;

  padding: 50px;
  @media all and (max-width: 992px) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media all and (max-width: 768px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media all and (max-width: 576px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.some-products {
  background-color: white;
  // padding: 10px;
  border-radius: 8px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  @media all and (max-width: 992px) {
    padding-top: 70px;
  }
  @media all and (max-width: 768px) {
    padding-top: 50px;
  }
  @media all and (max-width: 576px) {
    padding-top: 20px;
    display: none;
  }

  box-sizing: border-box;

  .row {
    margin: 0px;
    align-items: center;
    justify-content: center;
    .col-custom {
      width: 100%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      border-radius: 3px;
      padding: 0px;
      text-align: center;
      cursor: pointer;
      width: 370px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    span.oldPrice {
      color: gray;
      text-decoration: line-through;
    }
    span.percentReduce {
      color: gray;
    }
    .col-custom:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    img {
      max-width: 100%;
      max-height: 100%;
      width: 80%;
      width: 250px;
      height: 300px;
      padding-top: 15px;
    }
    .product-item-info {
      text-align: left;
      width: 100%;
      padding-left: 15%;
      padding-top: 10px;
      padding-bottom: 30px;
      padding-right: 40px;
      // @media all and (max-width: 576px) {
      //   padding-left: 20px;
      //   padding-top: 10px;
      //   padding-bottom: 30px;
      //   padding-right: 20px;
      // }
      display: block;
      h5 {
        text-align: left;
        font-size: 20px;
      }
      p {
        font-size: 20px;
        i {
          color: #ffc120;
        }
      }
    }
  }
}
