<section class="kagu-carousel">
    <div id="carouselId" class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <ng-d *ngFor="let item of slideShowList;let i = index" [ngClass]="{active:i === 0}">
                <li data-target="#carouselId" [data-slide-to]="index"></li>
            </ng-d>
            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
            <li data-target="#carouselId" data-slide-to="1"></li>
            <li data-target="#carouselId" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">

            <div class="carousel-item" *ngFor="let item of slideShowList;let i = index" [ngClass]="{active:i === 0}">
                <img [src]="item.image" alt="image.title">

            </div>



        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section class="kagu-product-carousel">
    <h3>SẢN PHẨM BÁN CHẠY</h3>
    <div class="hot-product">
        <div class="row">

            <div class="col-custom col-xl-3 col-lg-4 col-md-6 col-sm-10 col-xs-12"
                *ngFor="let product of topProductList" (click)="showProductDetail(product.product_id)">
                <img [src]="product.image[0].product_image" alt="product.image[0].image_description">
                <div class="product-item-info">
                    <h5>{{product.product_name}}</h5>
                    <h5>{{product.product_price}} ₫</h5>
                    <p>{{product.rating}} <i class="fa fa-star"></i> </p>
                </div>
            </div>
        </div>
    </div>




</section>
<section class="top-product">
    <h3>SẢN PHẨM NỔI BẬT</h3>
    <div class="row">
        <div class="col-6 content">
            <h2>Bộ bàn ăn tựa tròn</h2>
            <h3>Thiết kế mang phong cách Hàn quốc rất phù hợp với căn hộ chung cư,
                Bộ bàn ăn có màu (màu tự nhiên) với tone màu tự nhiên, sẽ mang lại
                cảm giác tươi mới, nhẹ nhàng cho không gian nhà bạn
            </h3>
        </div>
        <div class="col-6 imagegrid">
            <div class="imagetop">
                <img src="/assets/banghean/bobanantuatron/3.jpg" alt="">
            </div>
            <div class=" imagebot">

            </div>
        </div>
    </div>

</section>
<section class="top-product" style="padding-left: 100px;">

    <div class="row">
        <div class="col-6 imagegrid">
            <div class="imagetop">
                <img src="/assets/ketivigiasach/ketivihiendai/1.jpg" alt="">
            </div>
            <div class="imagebot">

            </div>
        </div>
        <div class="col-6 content">
            <h2>Kệ Tivi hiện đại</h2>
            <h3>Kệ tivi kết hợp giá sách là một ý tưởng kết hợp tuyệt vời giữa kệ TV và giá sách giúp đem lại một thiết
                kế hiện đại, tinh tế và đầy ấn tượng</h3>
        </div>

    </div>

</section>
<section class="some-products">
    <h3>SẢN PHẨM MỚI</h3>
    <div class="row">
        <div class="col-custom col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let product of newProductList"
            (click)="showProductDetail(product.product_id)">
            <img [src]="product.image[0].product_image" [alt]="product.image[0].image_description">
            <div class="product-item-info">
                <h5>{{product.product_name}}</h5>
                <h5 pattern="[0-9]">{{product.product_price}} ₫</h5>
                <p>{{product.rating}} <i class="fa fa-star"></i> </p>
            </div>
        </div>
    </div>
</section>