<section class="categories-page">
    <div class="left-side">
        <div class="first">
            <div class="categories">
                <h5>Danh mục sản phẩm</h5>
                <a routerLink="/giuong" (click)="selectCat(1)">Giường</a>
                <a routerLink="/ban-ghe" (click)="selectCat(2)">Bàn ghế</a>
                <a routerLink="/sofa" (click)="selectCat(3)">Sofa</a>
                <a routerLink="/tu-quan-ao" (click)="selectCat(4)">Tủ quần áo</a>
                <a routerLink="/ke" (click)="selectCat(5)">Kệ</a>
            </div>
            <div class="evaluate">
                <h5>Đánh giá sản phẩm</h5>
                <p (click)="selectSearchFunc(5)">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star - vang.png" alt="star"> (Từ 5 sao)</p>
                <p (click)="selectSearchFunc(4)" class="fourstar">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star.png" alt="star">
                    (Từ 4 sao)</p>
                <p (click)="selectSearchFunc(3)" class="threestar">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star - vang.png" alt="star">
                    <img src="../../../assets/icons/star.png" alt="star">
                    <img src="../../../assets/icons/star.png" alt="star"> (Từ 3 sao)</p>

            </div>
        </div>
        <div class="second">
            <div class="price">
                <h5>Giá</h5>
                <p>Chọn khoảng giá</p>

                <form #formCostRange="ngForm">


                    <!-- <input type="text"> <span>-</span> <input type="text"> -->

                    <input type="number" name="minPrice" required #minPrice="ngModel" pattern="[0-9]$" ngModel>
                    <span>-</span>
                    <input type="number" name="maxPrice" required #maxPrice="ngModel" pattern="[0-9]$" ngModel>

                    <!-- <p class="alert alert-danger mt-2" *ngIf="email?.errors?.required && (email.dirty || email.touched)">
                        Vui lòng nhập email </p>
                    <p class="alert alert-danger mt-2" *ngIf="email?.errors?.pattern"> Email phải đúng định dạng -->



                </form>

                <!-- <input type="text"> <span>-</span> <input type="text"> -->
                <button (click)="selectCostRange()">OK</button>
            </div>
            <div class="sort">
                <h5>Sắp xếp</h5>
                <p (click)="selectSortFunc(2)">Giá tăng dần <img src="../../../assets/icons/sort up.png" alt="star"></p>
                <p (click)="selectSortFunc(3)">Giá giảm dần <img src="../../../assets/icons/sort down.png" alt="star">
                </p>

            </div>
        </div>


    </div>

    <div class="products">

        <div class="grid-container">
            <div class="grid-item" *ngFor="let product of productList" (click)="showProductDetail(product.product_id)">
                <img class="imgPro" [src]="product.image[1].product_image" alt="product.image[1].image_description">
                <div class="product-info">
                    <h5>{{product.product_name}}</h5>
                    <h5>{{product.product_price}} ₫</h5>
                    <p>{{product.rating}} <img src="../../../assets/icons/star - vang.png" alt="star"> </p>
                </div>
            </div>
        </div>

        <ul class="pagination justify-content-center">
            <ng-container *ngFor="let item of totalPage">
                <li><button class="btn mr-1"
                        [ngClass]="{'btn-secondary':item!==currentPage,'btn-info':item===currentPage}"
                        (click)="nextPage(item)">{{item}}</button></li>
            </ng-container>
        </ul>
    </div>
</section>