<section class="categories-page">
    <div class="left-side">
        <div class="categories">
            <h5>Danh mục sản phẩm</h5>
            <a href="">Tủ quần áo</a>
            <a href="">Bàn ghế</a>
            <a href="">Giường</a>
            <a href="">Kệ rượu</a>
            <a href="">Tủ quần áo</a>
        </div>
        <div class="evaluate">
            <h5>Đánh giá sản phẩm</h5>
            <p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i> (Từ 5 sao)</p>
            <p class="fourstar"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i> (Từ 4 sao)</p>
            <p class="threestar"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i> (Từ 3 sao)</p>

        </div>
        <div class="price">
            <h5>Giá</h5>
            <p>Chọn khoảng giá</p>
            <input type="text"> <span>-</span> <input type="text">
            <button>OK</button>
        </div>
    </div>

    <div class="products">
        <div class="row">

            <div class="col-3">
                <img src="../../../assets/keruougo.jpg" alt="">
                <div class="product-info">
                    <h5>Ghế Sofa</h5>
                    <h5>1.000.000</h5>
                    <p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i> </p>
                </div>

            </div>
            <div class="col-3">
                <img src="../../../assets/keruougo.jpg" alt="">
                <div class="product-info">
                    <h5>Ghế Sofa</h5>
                    <h5>1.000.000</h5>
                    <p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i> </p>
                </div>

            </div>
            <div class="col-3">
                <img src="../../../assets/keruougo.jpg" alt="">
                <div class="product-info">
                    <h5>Ghế Sofa</h5>
                    <h5>1.000.000</h5>
                    <p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i></p>
                </div>

            </div>
            <div class="col-3">
                <img src="../../../assets/keruougo.jpg" alt="">
                <div class="product-info">
                    <h5>Ghế Sofa</h5>
                    <h5>1.000.000</h5>
                    <p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i></p>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-3">
                <img src="../../../assets/keruougo.jpg" alt="">
                <div class="product-info">
                    <h5>Ghế Sofa</h5>
                    <h5>1.000.000</h5>
                    <p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i> </p>
                </div>

            </div>
            <div class="col-3">
                <img src="../../../assets/keruougo.jpg" alt="">
                <div class="product-info">
                    <h5>Ghế Sofa</h5>
                    <h5>1.000.000</h5>
                    <p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i> </p>
                </div>

            </div>
            <div class="col-3">
                <img src="../../../assets/keruougo.jpg" alt="">
                <div class="product-info">
                    <h5>Ghế Sofa</h5>
                    <h5>1.000.000</h5>
                    <p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i> </p>
                </div>

            </div>
            <div class="col-3">
                <img src="../../../assets/keruougo.jpg" alt="">
                <div class="product-info">
                    <h5>Ghế Sofa</h5>
                    <h5>1.000.000</h5>
                    <p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i> </p>
                </div>

            </div>
        </div>

    </div>
</section>