* {
  p,
  span {
    font-family: "EB Garamond", serif;
  }
}
$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;

// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (min-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (min-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  }
}
// @font-face {
//   font-family: "EB Garamond";
//   src: url("/fonts/Roboto-Regular.eot");
//   src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
//        url("/fonts/Roboto-Regular.woff2") format('woff2'),
//        url("/fonts/Roboto-Regular.woff") format('woff'),
//        url("/fonts/Roboto-Regular.ttf") format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "EB Garamond";
//   src: url("./assets/fonts/Roboto-Regular.eot");
//   src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
//        url("/fonts/Roboto-Regular.woff2") format('woff2'),
//        url("/fonts/Roboto-Regular.woff") format('woff'),
//        url("/fonts/Roboto-Regular.ttf") format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }
