<div class="logo-navbar">
    <div class="logo">
        <h2>Kagu</h2>
    </div>
    <div class="navigationbar">
        <nav class="navbar navbar-expand-sm navbar-light ">

            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse custom-navbar" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 custom-ul">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Danh mục</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->

                </ul>
                <form class="form-inline my-2 my-lg-0 kagu-form">
                    <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                            class="fa fa-search"></i></button>
                </form>
            </div>
        </nav>
    </div>
    <div class="cart-user">

        <i class="fa fa-shopping-cart"></i>
        <div class="user">
            <i class="fa fa-user-circle"></i>
            <p>Đăng nhập</p>
        </div>

    </div>
</div>

<router-outlet></router-outlet>
<section class="footer">
    <div class="row">
        <div class="col-3">
            <h4>Social Network</h4>
            <i id="fb" class="fab fa-facebook"> </i>
            <span> facebook.com/kagu</span><br>
            <i id="yt" class="fab fa-youtube"> </i>
            <span> youtube.com/kagu</span><br>
            <i id="tw" class="fab fa-twitter"> </i>
            <span>twitter.com/kagu</span>
        </div>
        <div class="col-3">
            <h4>Hotline</h4>
            <p>9000876766</p>
            <p>9000876766</p>
            <p>9000876766</p>

        </div>
        <div class="col-3">
            <h4>Service</h4>
            <p> Introduction</p>
            <p> Introduction</p>
            <p> Introduction</p>
            <p> Any question ?</p>


        </div>
        <div class="col-3">
            <h4>Contact us</h4>
            <div class="form-group">
                <label for=""></label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                <button>Submit</button>
            </div>

        </div>
    </div>
</section>