<div class="logo-navbar">
    <div class="logo">
        <div></div>
        <h2><a routerLink="">Kagu</a></h2>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars"></i></span>
        </button>
    </div>
    <div class="navigationbar">
        <nav class="navbar navbar-expand-sm navbar-light ">


            <div class="collapse navbar-collapse custom-navbar" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto  custom-ul">

                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropbtn">Danh mục</button>
                            <div class="dropdown-content">
                                <div class="arrow-up"></div>
                                <div>
                                    <a *ngFor="let item of productCatList, let i = index" [routerLink]="item.routeLink"
                                        (click)="selectCategory(i + 1)">{{item.cat_name}}</a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->

                </ul>
                <div class="kagu-form">
                    <input id="inputSearch" (keydown.enter)="search($event.target.value)" type="text"
                        placeholder="Tìm kiếm">
                    <button (click)="searchButton()" class="btn btn-outline-success my-2 my-sm-0"><i
                            class="fa fa-search"></i></button>
                </div>


            </div>
        </nav>
    </div>
    <div class="cart-user">
        <div class="cart">
            <a routerLink="/gio-hang"><i class="fa fa-shopping-cart"></i> </a><span>{{productQuantity}}</span>

        </div>

        <i id="notifi" class="fa fa-bell"></i>
        <div class="user">

            <div class="dropdown">
                <button class="dropbtn" data-toggle="modal" data-target="#login">{{usernameContent}}</button>
                <div class="dropdown-content login">

                    <div class="arrow-up"></div>
                    <div>
                        <!-- <a *ngFor="let item of productCatList, let i = index" [routerLink]="item.routeLink"
                            (click)="selectCategory(i + 1)">{{item.cat_name}}</a> -->
                        <button class="dropbtn" data-toggle="modal" data-target="#login">Đăng ký</button>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<router-outlet></router-outlet>
<section class="footer">
    <h2>THƯƠNG MẠI ĐIỆN TỬ VÀ TRIỂN KHAI ỨNG DỤNG</h2>
    <h3>Giảng viên hướng dẫn : Trần Tuấn Dũng </h3>
    <h4><a href="https://www.dungtran.top">https://www.dungtran.top</a></h4>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h4>Các kênh của cửa hàng</h4>
            <i id="fb" class="fab fa-facebook"> </i>
            <span> facebook.com/kagu</span><br>
            <i id="yt" class="fab fa-youtube"> </i>
            <span> youtube.com/kagu</span><br>
            <i id="tw" class="fab fa-twitter"> </i>
            <span>twitter.com/kagu</span>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h4>Liên hệ</h4>
            <p>0399295198</p>
            <p>0942013068</p>



        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h4>Dịch vụ</h4>
            <p> Tư vấn, thiết kế nội thất</p>
            <p> Cung cấp nội thất chất lượng cao</p>
            <p> Dịch vụ bảo hành</p>
            <p> Hỗ trợ thanh toán trực tuyến</p>




        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h4>Đăng ký nhận thông báo</h4>
            <div class="form-group">
                <label for=""></label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                <button>Gửi</button>
            </div>

        </div>
    </div>
</section>


<div class="modal fade" id="login">
    <div class="modal-dialog">
        <div class="modal-content">

            <header class="head-form mb-0">
                <h2>Đăng nhập</h2>
            </header>

            <!-- Modal Header -->
            <!-- 	<div class="modal-header">
                <h4 class="modal-title" id="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->

            <!-- Modal body -->
            <div class="modal-body">

                <form #formSignIn="ngForm">


                    <input placeholder="Email" type="email" name="email" required #email="ngModel"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel>
                    <p class="alert alert-danger mt-2"
                        *ngIf="email?.errors?.required && (email.dirty || email.touched)">
                        Vui lòng nhập email </p>
                    <p class="alert alert-danger mt-2" *ngIf="email?.errors?.pattern"> Email phải đúng định dạng
                    </p>

                    <input placeholder="Mật khẩu" type="password" #password="ngModel" required minlength="6"
                        maxlength="16" name="password" ngModel>
                    <p class="alert alert-danger mt-2"
                        *ngIf="password?.errors?.required &&  (password.dirty || password.touched)">
                        Vui lòng nhập mật khẩu </p>
                    <p class="alert alert-danger mt-2"
                        *ngIf="password?.errors?.minlength || password?.errors?.maxlength"> Mật
                        khẩu phải có từ 6 tới 16 kí tự </p>


                </form>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer" id="modal-footer">
                <button type="submit" (click)="login(formSignIn)" class="btn btn-success">Đăng
                    nhập</button>
                <button id="btnDong" type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>