<div class="user-info-page">
    <div class="row">
        <div class="col-3">
            <div class="userfuction">
                <h4>Tài khoản của </h4>

            </div>
        </div>
        <div class="col-8 user-info">

            <h4>Thông tin tài khoản</h4>

            <div class="form-group">
                <p>Họ tên: </p><input type="text"> <br>
                <p>Email: </p><input type="text"><br>
                <p>Điện thoại: </p><input type="text"><br>
                <p>Địa chỉ:</p> <input type="text"><br>
            </div>
        </div>
    </div>
</div>