<section class="checkout">
    <div class="ship">
        <h2>1. Chọn hình thức giao hàng</h2>
        <div class="list-shipper">
            <img src="../../../assets/article_1546001113_751.png" alt="">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                    checked>
                <label class="checkmark" for="exampleRadios1">

                </label>
            </div>
            <img src="../../../assets/ghn_express__logo_mau_tren_nen_trong_suot_b01a2d72f3c240c2967208db370508de.png"
                alt="">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="checkmark" for="exampleRadios2">

                </label>
            </div>
            <img src="../../../assets/1536138107_final_3.png" alt="">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="checkmark" for="exampleRadios2">

                </label>
            </div>

        </div>


    </div>
    <div class="row">
        <div class="payment-step">
            <div class="cash-checkout">
                <h2>2. Thanh toán bằng Kagu Cash</h2>
                <h5>Bạn không đủ cash để thanh toán</h5>
            </div>
            <div class="payment">
                <h2>3. Chọn hình thức thanh toán</h2>
                <div class="list-payment">
                    <div class="form-check">
                        <div>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="checkmark" for="exampleRadios2">

                            </label>
                        </div>
                        <span> Thanh toán tiền mặt khi nhận hàng</span>
                    </div>
                    <div class="form-check">
                        <div>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="checkmark" for="exampleRadios2">

                            </label>
                        </div>
                        <span> Thanh toán bằng PayPal</span>
                    </div>



                    <button class="checkout">Thanh toán</button>
                </div>
            </div>
        </div>
        <div class="flip-card col-6">
            <div class="flip-card-inner">
                <div class="order-front">
                    <h3>Đơn hàng</h3>
                    <h5>Người nhận: Vũ Minh Đức</h5>
                    <h5>SĐT: 0942013068</h5>
                    <h5>Địa chỉ : Tân Hoà, EaBlang, Thị xã Buôn Hồ</h5>

                    <h5>Mặt hàng:</h5>
                    <h5>Ghế sofa, số lượng: 1</h5>
                    <h5>Giường gỗ, số lượng: 1</h5>
                    <h5>Tủ rượu, số lượng: 1</h5>
                    <h5>Thành tiền: 1.000.000 VNĐ </h5>
                </div>
                <div class="order-back">
                    <h2>Đơn hàng</h2>
                    <img src="../../../assets/article_1546001113_751.png" alt="">
                    <!-- <img src="../../../assets/ghn_express__logo_mau_tren_nen_trong_suot_b01a2d72f3c240c2967208db370508de.png"
                        alt=""> -->
                    <!-- <img src="../../../assets/1536138107_final_3.png" alt=""> -->
                    <h4>Nội thất Kagu</h4>
                </div>
            </div>


        </div>
    </div>

</section>