<section>
    <h2>Thông tin giao hàng</h2>
    <div class="address-page">
        <div class="address col-xl-6">
            <a href="/">Đăng nhập</a>
            <form #formAddress="ngForm">
                <input type="text" name="name" #username="ngModel" required ngModel placeholder="Họ tên khách hàng" />
                <p class="alert alert-danger mt-2" *ngIf="name?.errors?.required  && (name.dirty || name.touched)">
                    Vui lòng nhập họ tên </p>
                <input placeholder="Số điện thoại" type="text" name="phone" #city="ngModel" required ngModel>
                <p class="alert alert-danger mt-2" *ngIf="phone?.errors?.required  && (phone.dirty || phone.touched)">
                    Vui lòng nhập số điện thoại </p>
                <input placeholder="Email" type="email" name="email" required #email="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel>
                <p class="alert alert-danger mt-2" *ngIf="email?.errors?.required && (email.dirty || email.touched)">
                    Vui lòng nhập email </p>
                <p class="alert alert-danger mt-2" *ngIf="email?.errors?.pattern"> Email phải đúng định dạng
                </p>
                <input placeholder="Địa chỉ" type="text" name="address" #city="ngModel" required ngModel>
                <p class="alert alert-danger mt-2"
                    *ngIf="address?.errors?.required  && (address.dirty || address.touched)">
                    Vui lòng nhập địa chỉ </p>

            </form>

            <!-- <select>
                <option value="volvo">Thêm địa chỉ mới</option>
                <option value="volvo">Địa chỉ cũ</option>
            </select> -->

            <!-- <select>
                <option value="volvo" placeholder="Tỉnh/ thành phố">Thêm địa chỉ mới</option>
                <option value="volvo">Địa chỉ cũ</option>
            </select> <select>
                <option value="volvo">Thêm địa chỉ mới</option>
                <option value="volvo">Địa chỉ cũ</option>
            </select> -->

            <div class="route">
                <a href="/gio-hang"> <i class="fa fa-angle-left"></i> Giỏ hàng</a>

                <button (click)="checkOut()" class="checkout">Thanh toán</button>
            </div>


        </div>
        <div class="cart">
            <div class="product-cart-component" *ngFor="let product of cart">
                <div class="image-product-cart">
                    <img [src]="product.productImage" [alt]="product.productName">

                </div>
                <div class="product-name">
                    <p>{{product.productName}}</p>

                </div>

                <div class="amount">

                    <input readonly [value]="product.quantity" type="text">

                </div>
                <div class="price">
                    <p>{{product.productPrice}} ₫</p>
                </div>

            </div>

            <h3>Tổng tiền : {{totalPriceOfAllProductFormat}} ₫</h3>
        </div>

    </div>
</section>