<section>
    <h2>Thông tin giao hàng</h2>
    <div class="address-page">
        <div class="address col-xl-6">

            <a href="/">Đăng nhập</a>
            <select>
                <option value="volvo">Thêm địa chỉ mới</option>
                <option value="volvo">Địa chỉ cũ</option>
            </select>
            <input type="text" placeholder="Họ và tên">
            <input type="text" placeholder="Số điện thoại">
            <input type="text" placeholder="Địa chỉ">
            <select>
                <option value="volvo" placeholder="Tỉnh/ thành phố">Thêm địa chỉ mới</option>
                <option value="volvo">Địa chỉ cũ</option>
            </select> <select>
                <option value="volvo">Thêm địa chỉ mới</option>
                <option value="volvo">Địa chỉ cũ</option>
            </select>

            <div class="route">
                <a href="/cart"> <i class="fa fa-angle-left"></i> Giỏ hàng</a>

                <button class="checkout">Thanh toán</button>
            </div>


        </div>
        <div class="cart">
            <div class="product-cart-component">
                <div class="image-product-cart">
                    <img src="../../../assets/bosofa.png" alt="">

                </div>
                <div class="product-name">
                    <h5>Ghế Sofa</h5>
                    <p></p>
                </div>

                <div class="amount">

                    <input value="1" type="text">

                </div>
                <div class="price">
                    <h5>$90</h5>
                </div>

            </div>
            <div class="product-cart-component">
                <div class="image-product-cart">
                    <img src="../../../assets/bosofa.png" alt="">

                </div>
                <div class="product-name">
                    <h5>Ghế Sofa</h5>
                    <p></p>
                </div>

                <div class="amount">

                    <input value="1" type="text">

                </div>
                <div class="price">
                    <h5>$90</h5>
                </div>

            </div>
            <div class="product-cart-component">
                <div class="image-product-cart">
                    <img src="../../../assets/bosofa.png" alt="">

                </div>
                <div class="product-name">
                    <h5>Ghế Sofa</h5>
                    <p></p>
                </div>

                <div class="amount">

                    <input value="1" type="text">

                </div>
                <div class="price">
                    <h5>$90</h5>
                </div>

            </div>
            <h3>Tổng tiền : $90</h3>
        </div>

    </div>
</section>