<section class="product-detail-page">
    <div class="details-and-purchase">
        <div class="listimage">
            <img src="../../../assets/bosofa.png" alt="">
            <img src="../../../assets/bosofa.png" alt="">
            <img src="../../../assets/bosofa.png" alt="">
            <img src="../../../assets/bosofa.png" alt="">
        </div>
        <div class="bigimage">
            <img src="../../../assets/bosofa.png" alt="">
        </div>
        <div class="product-info">

            <div class="price">
                <h2>Sofa gỗ tự nhiên </h2>
                <span>Giá : <h4>1.000.000 VNĐ</h4>
                </span>
                <p> Tích kiệm 20%</p>
                <p> Giá thị trường</p>
            </div>
            <div class="purchase-function">
                <span>Số lượng:</span>
                <div class="amount">
                    <button type="button" class="btn btn-down">-</button>
                    <input value="1" type="text">
                    <button type="button" class="btn btn-up">+</button>
                </div>
                <button class="checkout">Mua ngay</button>

            </div>
            <div class="promotion">
                <h5>Các dịch vụ liên quan</h5>
                <p>
                    Thời gian bảo hành: 12 Tháng.

                </p>
                <p>
                    Hình thức bảo hành: Bảo hành bằng phiếu bảo hành và phiếu mua hàng tại Kagu.
                </p>
                <p>
                    HOTLINE: 1900 6035 (1.000đ/phút, 8-21h cả T7, CN)
                </p>
            </div>
        </div>
    </div>
</section>
<section class="product-details">
    <h2>Thông tin chi tiết</h2>
    <table class="table">


        <tbody>
            <tr>

                <td>Chất liệu</td>
                <td>Gỗ công nghiệp MDF phủ melamine đẹp</td>
            </tr>
            <tr>

                <td>Kích thước( DxSxC)</td>
                <td>2400 x S 240 x C 1700(mm)</td>
            </tr>
            <tr>

                <td>Màu sắc</td>
                <td>Đen, trắng, vàng gỗ, đỏ</td>
            </tr>
        </tbody>
    </table>
</section>
<section class="product-introduction">
    <h2>Giới thiệu sản phẩm</h2>
    <h5>Ngày nay, kệ sách gỗ đẹp là món đồ nội thất không thể thiếu trong không gian đọc sách. Những chiếc kệ gỗ hiện
        đại
        không chỉ dùng để lưu trữ sách mà còn có thể lưu trữ những đồ vật, đồ trang trí đẹp mắt khác. Với thiết kế đơn
        giản của mẫu kệ, người dùng có thể sắp xếp nhiều kệ với nhau để tăng không gian lưu trữ sách. Đối với phòng có
        diện tích hạn chế bạn nên lựa chọn những góc tường để xóa bỏ góc chết của tường nhà. Sản phẩm có nhiều màu sắc
        đẹp mắt sẽ là ý tưởng sang tạo mới cho không gian gia đình.</h5>
</section>
<section class="product-review">
    <h2>Đánh giá sản phẩm</h2>
    <div class="stars-reviews">
        <div class="general">
            <h2>5 trên 5</h2>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <h5>200 lượt đánh giá</h5>
        </div>
        <div class="review-details">

            <div class="five-stars">
                <div>
                    <span>5</span><i class="fa fa-star"></i>
                </div>

                <div class="total">
                    <div class="five-stars-percent"></div>
                </div>
            </div>
            <div class="four-stars">
                <div> <span>4</span><i class="fa fa-star"></i></div>
                <div class="total">
                    <div class="four-stars-percent"></div>
                </div>
            </div>
            <div class="three-stars">
                <div> <span>3</span><i class="fa fa-star"></i></div>
                <div class="total">
                    <div class="three-stars-percent"></div>
                </div>
            </div>
            <div class="two-stars">
                <div> <span>2</span><i class="fa fa-star"></i></div>
                <div class="total">
                    <div class="two-stars-percent"></div>
                </div>
            </div>
            <div class="one-star">
                <div> <span>1</span><i class="fa fa-star"></i></div>
                <div class="total">
                    <div class="one-star-percent"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="review-component">
        <div class="user-info">
            <i class="fa fa-user"></i>

        </div>
        <div class="username">
            <h3>Hoàng Quân</h3>
            <p>1 day ago</p>
        </div>

        <div class="review-content">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <h3>Sản phẩm rất đẹp</h3>
            <p>Tôi rất hài lòng với sản phẩm này</p>
        </div>
    </div>
    <div class="review-component">
        <div class="user-info">
            <i class="fa fa-user"></i>

        </div>
        <div class="username">
            <h3>Gia Hiếu</h3>
            <p>1 day ago</p>
        </div>

        <div class="review-content">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <h3>Sản phẩm rất đẹp</h3>
            <p>Tôi rất hài lòng với sản phẩm này</p>
        </div>
    </div>

    <div class="review-component">
        <div class="user-info">
            <i class="fa fa-user"></i>

        </div>
        <div class="username">
            <h3>Nhật Linh</h3>
            <p>1 day ago</p>
        </div>

        <div class="review-content">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <h3>Sản phẩm rất đẹp</h3>
            <p>Tôi rất hài lòng với sản phẩm này</p>
        </div>
    </div>
    <div class="review-component">
        <div class="user-info">
            <i class="fa fa-user"></i>

        </div>
        <div class="username">
            <h3>Lê Vy</h3>
            <p>1 day ago</p>
        </div>

        <div class="review-content">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <h3>Sản phẩm rất đẹp</h3>
            <p>Tôi rất hài lòng với sản phẩm này</p>
        </div>
    </div>

</section>
<section class="recommend-product">
    <h2>Các sản phẩm tương tự</h2>
    <div class="row">

        <div class="col-3" *ngFor="let product of topProductList">
            <img [src]="product.image[0].product_image" alt="">
            <div class="product-item-info">
                <h5>{{product.product_name}}</h5>
                <h5>{{product.product_price}} VNĐ</h5>
                <p> <i class=" fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i> </p>
            </div>
        </div>
    </div>
</section>